# Neon PostgreSQL - pooler (queries en runtime)
DATABASE_URL=postgresql://user:password@host-pooler/neondb?sslmode=require

# Neon PostgreSQL - directa (prisma migrate)
DIRECT_URL=postgresql://user:password@host-direct/neondb?sslmode=require

JWT_SECRET=cambia_esto_por_una_cadena_aleatoria_larga_y_segura
JWT_EXPIRES_IN=7d
NODE_ENV=production
PORT=3001

# URL del frontend en Railway (para CORS)
FRONTEND_URL=https://festivaltrack-web.up.railway.app
